body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

$LightRed_CTAtext: hsl(356, 100%, 66%);
$VeryLightRed_CTA_hover_background: hsl(355, 100%, 74%);
$VeryDarkBlue_headings: hsl(208, 49%, 24%);


$White_text: hsl(0, 0%, 100%);
$GrayishBlue_footer_text: hsl(240, 2%, 79%);
$VeryDarkGrayishBlue_body_copy: hsl(207, 13%, 34%);
$VeryDarkBlackBlue_footer_background: hsl(240, 10%, 16%);

$VeryLightRed: hsl(13, 100%, 72%);
$LightRed: hsl(353, 100%, 62%);


$VeryDarkGrayBlue: hsl(237, 17%, 21%);
$VeryDarkDesaturatedBlue: hsl(237, 23%, 32%);


.container {
    padding: 0 10rem;
    overflow: hidden;

    @media (max-width: 991px) {
        padding: 0 3rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border: 1px solid;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 600;
    border-color: #fff;
    background: transparent;
    color: #fff;

    @media (max-width: 991px) {
        padding: 13px 20px;
    }

    &:hover {
        color: #f05664;
        background-color: white;
        border-color: white;
    }

    &.with-bg {
        color: #f05664;
        background-color: white;
        border-color: white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            border-color: transparent;
            color: #fff;
        }
    }
}

.hidden {
    display: none !important;
}

.hide-on-mobile {
    display: block;

    @media (max-width: 991px) {
        display: none;
    }
}


.show-on-mobile {
    display: none;

    @media (max-width: 991px) {
        display: block;
    }
}

.banner {
    height: 70vh;
    width: 100%;
    border-radius: 0 0 0 100px;
    background: #ff7e66;
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
    background-repeat: no-repeat;
    background-size: 212%;
    background-position: 24% 52%;

    @media (max-width: 991px) {
        height: 70vh;
        background-size: 310%;
        background-position: 33% 35%;
        background-image: url('../images/bg-pattern-intro-mobile.svg');
        background-image: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
    }

    header {
        display: flex;
        justify-content: space-between;
        font-family: 'Ubuntu', sans-serif;
        padding-top: 3rem;
        position: relative;

        .left-section {
            display: flex;
            align-items: center;

            .logo {
                font-size: 3rem;
                margin-right: 7rem;
                color: white;
            }
        }

        .right-section {
            display: flex;
            align-items: center;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                color: white;
                margin-right: 3rem;

                &:last-child {
                    margin-right: 0
                }

                &.mr-0 {
                    margin-right: 0;
                }
            }
        }

        .menu {
            background-color: white;
            display: none;
            width: 80%;
            height: 50vh;
            position: absolute;
            left: 10%;
            top: 9rem;
            right: 10%;
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        }
    }

    .banner-content {
        text-align: center;
        margin-top: 5rem;
        color: #fff;

        @media (max-width: 991px) {
            margin-top: 5rem;
        }

        .title {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 0.5rem;

            @media (max-width: 991px) {
                font-size: 2rem;
            }
        }

        .caption {
            color: #fee5df;
            margin: 3rem 0 3rem 0;
        }

        .button-wrap {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }
    }
}

.theFuture {
    min-height: 100vh;

    .heading {
        color: $VeryDarkGrayBlue;
        font-size: clamp(1.6rem, 2.5vw, 2.5rem);
        margin: 3rem 0;
        width: 100%;
        text-align: center;
    }

    .sections {

        display: flex;
        justify-content: space-between;
        position: relative;



        .heading {
            font-size: 1.7rem;
            text-align: left;
            color: #233d55;
        }

        .heading {
            margin: 0;
        }

        .body {
            color: $VeryDarkGrayishBlue_body_copy;
            font-weight: 500;
            line-height: 1.7rem;
            margin-bottom: 0;
        }

        .img-wrap {
            position: relative;
            width: 40%;

            img {
                width: 54rem;
                position: absolute;
                top: -60px;
                right: -24rem;

            }

            @media (max-width: 991px) {
                // background-image: url('../images/illustration-editor-mobile.svg');
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: contain;
                height: 100%;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    margin-bottom: 80px;
                }
            }

        }

        .desc {
            width: 60%;

            p {
                padding-right: 5rem;
                color: #74757a;
                line-height: 25px;
                font-size: 14px;
            }

            .info {
                margin-bottom: 3rem;
            }

            @media (max-width: 991px) {
                width: 100%;

                p {
                    padding-right: 0;
                }
            }
        }

        @media (max-width: 991px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;

            .heading {
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}