body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

$LightRed_CTAtext: hsl(356, 100%, 66%);
$VeryLightRed_CTA_hover_background: hsl(355, 100%, 74%);
$VeryDarkBlue_headings: hsl(208, 49%, 24%);


$White_text: hsl(0, 0%, 100%);
$GrayishBlue_footer_text: hsl(240, 2%, 79%);
$VeryDarkGrayishBlue_body_copy: hsl(207, 13%, 34%);
$VeryDarkBlackBlue_footer_background: hsl(240, 10%, 16%);

$VeryLightRed: hsl(13, 100%, 72%);
$LightRed: hsl(353, 100%, 62%);


$VeryDarkGrayBlue: hsl(237, 17%, 21%);
$VeryDarkDesaturatedBlue: hsl(237, 23%, 32%);


.container {
    padding: 0 10rem;
    overflow: hidden;

    @media (max-width: 991px) {
        padding: 0 3rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border: 1px solid;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 600;
    border-color: #fff;
    background: transparent;
    color: #fff;

    @media (max-width: 991px) {
        padding: 13px 20px;
    }

    &:hover {
        color: #f05664;
        background-color: white;
        border-color: white;
    }

    &.with-bg {
        color: #f05664;
        background-color: white;
        border-color: white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            border-color: transparent;
            color: #fff;
        }
    }
}

.hidden {
    display: none !important;
}

.hide-on-mobile {
    display: block;

    @media (max-width: 991px) {
        display: none;
    }
}


.show-on-mobile {
    display: none;

    @media (max-width: 991px) {
        display: block;
    }
}

.banner {
    max-height: 60vh;
    padding-bottom: 100px;
    width: 100%;
    border-radius: 0 0 0 100px;
    background: #ff7e66;
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
    background-repeat: no-repeat;
    background-size: 212%;
    background-position: 24% 52%;

    @media (max-width: 991px) {
        max-height: 50vh;
        background-size: 310%;
        background-position: 33% 35%;
        background-image: url('../images/bg-pattern-intro-mobile.svg');
        background-image: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
    }

    header {
        display: flex;
        justify-content: space-between;
        font-family: 'Ubuntu', sans-serif;
        padding-top: 3rem;
        position: relative;

        .left-section {
            display: flex;
            align-items: center;

            .logo {
                font-size: 3rem;
                margin-right: 7rem;
                color: white;
            }
        }

        .right-section {
            display: flex;
            align-items: center;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                color: white;
                margin-right: 3rem;

                &:last-child {
                    margin-right: 0
                }

                &.mr-0 {
                    margin-right: 0;
                }
            }
        }

        .menu {
            background-color: white;
            display: none;
            width: 80%;
            height: 50vh;
            position: absolute;
            left: 10%;
            top: 9rem;
            right: 10%;
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        }
    }

    .banner-content {
        text-align: center;
        margin-top: 5rem;
        color: #fff;

        @media (max-width: 991px) {
            margin-top: 5rem;
        }

        .title {
            font-size: 3rem;
            font-weight: 600;
            margin: 0.5rem;

            @media (max-width: 991px) {
                font-size: 2rem;
            }
        }

        .caption {
            color: #fee5df;
            margin: 1rem 0 3rem 0;
        }

        .button-wrap {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }
    }
}

.theFuture {
    min-height: 100vh;

    .heading {
        color: $VeryDarkGrayBlue;
        font-size: clamp(1.6rem, 2.5vw, 2.5rem);
        margin: 4rem 0;
        width: 100%;
        text-align: center;
    }

    .sections {

        display: flex;
        justify-content: space-between;
        position: relative;



        .heading {
            font-size: 1.7rem;
            text-align: left;
            color: #233d55;
        }

        .heading {
            margin: 0;
        }

        .body {
            color: $VeryDarkGrayishBlue_body_copy;
            font-weight: 500;
            line-height: 1.7rem;
            margin-bottom: 0;
        }

        .img-wrap {
            position: relative;
             width: 100vw;

            img {
                width: 54rem;
                position: absolute;
                top: -60px;
                right: -24rem;

            }

            @media (max-width: 991px) {
                // background-image: url('../images/illustration-editor-mobile.svg');
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: contain;
                height: 100%;
                width: fi;

                img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    margin-bottom: 80px;
                    top: 0;
                    right: 0;
                }
            }

        }

        .desc {
            width: 60%;

            p {
                padding-right: 5rem;
                color: #74757a;
                line-height: 25px;
                font-size: 14px;
            }

            .info {
                margin-bottom: 3rem;
            }

            @media (max-width: 991px) {
                width: 100%;

                p {
                    padding-right: 0;
                    
                    .robustBody{
                        padding-right: 0;
                        margin-bottom: 180px;
                        border: 1px solid red ;
                    }
                }
                
            }
        }

        @media (max-width: 991px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;

            .heading {
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}

// Ads section start here
.adsContainer {
    position: relative;
    margin-top: 150px;

    .image {
        // margin-bottom: 60px;
        position: absolute;
        top: -280px;
        left: 0px;
        right: 0;
        z-index: 80;
        max-width: 100vw;
        margin-top: 150px;
        border: 1px solid red;

        img {
            max-width: 100%;

            @media screen and (min-width:750px) {
                width: 30%;
            }
        }

        @media screen and (min-width:750px) {
            top: -30px;
            left: 40px;
            // top: -40px;
            // left: 40px;
        }
    }

    .ads {
        background-color: $VeryDarkGrayBlue;
        max-height: 80vh;
        text-align: center;
        color: white;
        position: relative;
        padding-bottom: 40px;
        // overflow: hidden;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;

        .desc {
            padding-bottom: 30px;

            .heading {
                margin-top: 320px;
            }
        }

        @media screen and (min-width:750px) {
            height: 23vh;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 0px;

            @media screen and (min-width:920px) {
                height: 37vh;
            }

            .desc {
                max-width: 450px;
                text-align: left;
                transform: scale(.8);
                padding-top: 30px;

                @media screen and (min-width:920px) {
                    max-width: 500px;
                    transform: scale(1);
                }

                .heading {
                    margin-top: 20px;
                    margin-bottom: -10px;
                }
            }
        }

        p,
        h1 {
            position: relative;
            z-index: 300;
            font-weight: lighter;
        }

        // background-image: url(../images/bg-pattern-circles.svg);
        // background-size: cover;
        // background-position: top;
        // background-repeat: no-repeat;
        &::after {
            content: '';
            position: absolute;
            top: -180px;
            bottom: 0;

            left: 0;
            background-image: url(../images/bg-pattern-circles.svg);
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            max-height: 120%;
            width: 100%;
            z-index: 1;

            @media screen and (min-width:920px) {
                top: 0px;
                left: -350px;
                background-size: 50%;
                background-position: bottom;
            }

        }
    }

    .tooling {
        text-align: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .laptop {
            background-image: url(../images/illustration-laptop-mobile.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 270px;
            max-width: 600px;
            min-width: 280px;
            margin: 70px 0 40px 0;
            margin-inline: auto;
        }

        .desc {
            height: 600px;

            .body {
                color: $VeryDarkGrayishBlue_body_copy;
                font-weight: 500;
                line-height: 1.7rem;
                margin-bottom: 0;
            }

            .heading {
                color: $VeryDarkGrayBlue;
                font-size: clamp(1.6rem, 2.5vw, 2.5rem);
                margin: 3rem 0;
                width: 100%;
                text-align: center;
            }

        }

        @media screen and (min-width:820px) {
            display: flex;
            flex-direction: row;
            padding: 30px 0;

            .container {
                padding: 0 7rem;
            }

            .laptop {
                background-image: url(../images/illustration-laptop-desktop.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 120%;
                height: 600px;
                max-width: 600px;
                margin-left: -160px;
                flex: 2;
                margin-top: 40px;

                @media screen and (min-width:1200px) {
                    margin-top: 90px;
                }


            }

            .desc {
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
                flex: 1;
                margin-top: 60px;

                .body {
                    max-width: 500px;
                }

            }
        }
    }
}