body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

.container {
  padding: 0 10rem;
  overflow: hidden;
}
@media (max-width: 991px) {
  .container {
    padding: 0 3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 1px solid;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 600;
  border-color: #fff;
  background: transparent;
  color: #fff;
}
@media (max-width: 991px) {
  .btn {
    padding: 13px 20px;
  }
}
.btn:hover {
  color: #f05664;
  background-color: white;
  border-color: white;
}
.btn.with-bg {
  color: #f05664;
  background-color: white;
  border-color: white;
}
.btn.with-bg:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  color: #fff;
}

.hidden {
  display: none !important;
}

.hide-on-mobile {
  display: block;
}
@media (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }
}

.show-on-mobile {
  display: none;
}
@media (max-width: 991px) {
  .show-on-mobile {
    display: block;
  }
}

.banner {
  height: 70vh;
  width: 100%;
  border-radius: 0 0 0 100px;
  background: #ff7e66;
  background-image: url("../images/bg-pattern-intro-desktop.svg");
  background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  background-repeat: no-repeat;
  background-size: 212%;
  background-position: 24% 52%;
}
@media (max-width: 991px) {
  .banner {
    height: 70vh;
    background-size: 310%;
    background-position: 33% 35%;
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-image: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  }
}
.banner header {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  padding-top: 3rem;
  position: relative;
}
.banner header .left-section {
  display: flex;
  align-items: center;
}
.banner header .left-section .logo {
  font-size: 3rem;
  margin-right: 7rem;
  color: white;
}
.banner header .right-section {
  display: flex;
  align-items: center;
}
.banner header ul {
  margin: 0;
  padding: 0;
}
.banner header ul li {
  display: inline-block;
  color: white;
  margin-right: 3rem;
}
.banner header ul li:last-child {
  margin-right: 0;
}
.banner header ul li.mr-0 {
  margin-right: 0;
}
.banner header .menu {
  background-color: white;
  display: none;
  width: 80%;
  height: 50vh;
  position: absolute;
  left: 10%;
  top: 9rem;
  right: 10%;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.banner .banner-content {
  text-align: center;
  margin-top: 5rem;
  color: #fff;
}
@media (max-width: 991px) {
  .banner .banner-content {
    margin-top: 5rem;
  }
}
.banner .banner-content .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .banner .banner-content .title {
    font-size: 2rem;
  }
}
.banner .banner-content .caption {
  color: #fee5df;
  margin: 3rem 0 3rem 0;
}
.banner .banner-content .button-wrap {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.theFuture {
  min-height: 100vh;
}
.theFuture .heading {
  color: hsl(237deg, 17%, 21%);
  font-size: clamp(1.6rem, 2.5vw, 2.5rem);
  margin: 3rem 0;
  width: 100%;
  text-align: center;
}
.theFuture .sections {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.theFuture .sections .heading {
  font-size: 1.7rem;
  text-align: left;
  color: #233d55;
}
.theFuture .sections .heading {
  margin: 0;
}
.theFuture .sections .body {
  color: hsl(207deg, 13%, 34%);
  font-weight: 500;
  line-height: 1.7rem;
  margin-bottom: 0;
}
.theFuture .sections .img-wrap {
  position: relative;
  width: 40%;
}
.theFuture .sections .img-wrap img {
  width: 54rem;
  position: absolute;
  top: -60px;
  right: -24rem;
}
@media (max-width: 991px) {
  .theFuture .sections .img-wrap {
    height: 100%;
    width: 100%;
  }
  .theFuture .sections .img-wrap img {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 80px;
    top: 0;
    right: 0;
  }
}
.theFuture .sections .desc {
  width: 60%;
}
.theFuture .sections .desc p {
  padding-right: 5rem;
  color: #74757a;
  line-height: 25px;
  font-size: 14px;
}
.theFuture .sections .desc .info {
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  .theFuture .sections .desc {
    width: 100%;
  }
  .theFuture .sections .desc p {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .theFuture .sections {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .theFuture .sections .heading {
    text-align: center;
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */