body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

$LightRed_CTAtext: hsl(356, 100%, 66%);
$VeryLightRed_CTA_hover_background: hsl(355, 100%, 74%);
$VeryDarkBlue_headings: hsl(208, 49%, 24%);


$White_text: hsl(0, 0%, 100%);
$GrayishBlue_footer_text: hsl(240, 2%, 79%);
$VeryDarkGrayishBlue_body_copy: hsl(207, 13%, 34%);
$VeryDarkBlackBlue_footer_background: hsl(240, 10%, 16%);

$VeryLightRed: hsl(13, 100%, 72%);
$LightRed: hsl(353, 100%, 62%);


$VeryDarkGrayBlue: hsl(237, 17%, 21%);
$VeryDarkDesaturatedBlue: hsl(237, 23%, 32%);


.container {
    padding: 0 10rem;
    overflow: hidden;
   
    @media (max-width: 991px) {
        padding: 0 3rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}

.btn {
    border: 1px solid;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 600;
    border-color: #fff;
    background: transparent;
    color: #fff;

    @media (max-width: 991px) {
        padding: 13px 20px;
    }

    &:hover {
        color: #f05664;
        background-color: white;
        border-color: white;
    }

    &.with-bg {
        color: #f05664;
        background-color: white;
        border-color: white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            border-color: transparent;
            color: #fff;
        }
    }
}

.hidden {
    display: none !important;
}

.hide-on-mobile {
    display: block;

    @media (max-width: 991px) {
        display: none;
    }
}


.show-on-mobile {
    display: none;

    @media (max-width: 991px) {
        display: block;
    }
}

.banner {
    max-height: 70vh;
    position: relative;
    padding-bottom: 100px;
    width: 100%;
    border-radius: 0 0 0 100px;
    background: #ff7e66;
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
    background-repeat: no-repeat;
    background-size: 212%;
    background-position: 24% 52%;

    @media (max-width: 991px) {
        max-height: 90vh;
        background-size: 310%;
        background-position: 33% 35%;
        background-image: url('../images/bg-pattern-intro-mobile.svg');
        background-image: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient(to right top, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
    }

    header {
        display: flex;
        justify-content: space-between;
        font-family: 'Ubuntu', sans-serif;
        padding-top: 3rem;
        

        .left-section {
            display: flex;
            align-items: center;

            .logo {
                font-size: 3rem;
                margin-right: 7rem;
                color: white;
              
            }

           
        }

        .right-section {
            display: flex;
            align-items: center;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                color: white;
                margin-right: 3rem;               

                &:last-child {
                    margin-right: 0
                }

                &.mr-0 {
                    margin-right: 0;
                }
            }

            li.item{
                position: relative;
                &::after{
                    content: '';
                    background-image: url(../images/icon-arrow-light.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    width: 0.8rem;
                    height: 0.8rem;
                    position: absolute;
                    top: 35%;
                    right: -21px;

                    @media screen and (max-width:991px){
                        background-image: url(../images/icon-arrow-dark.svg);
                   
                    }


                    }

                    &:nth-child(5){
                       color: black;
                    }

              
            }
        }
        

        .menu {
            background-color: white;
            display: none;
            width: 80%;
            height: 50vh;
            position: absolute;
            left: 10%;
            top: 9rem;
            right: 10%;
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        }
    }

    .banner-content {
        text-align: center;
        margin-top: 5rem;
        color: #fff;

        @media (max-width: 991px) {
            margin-top: 5rem;
        }

        .title {
            font-size: 3rem;
            font-weight: 600;
            margin: 0.5rem;

            @media (max-width: 991px) {
                font-size: 2rem;
            }
        }

        .caption {
            color: #fee5df;
            margin: 1rem 0 3rem 0;
        }

        .button-wrap {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }
    }
}

@media (max-width: 991px) {
.MenuItems{
    display: block;
    background-color: white;
    padding: 40px 0;
    margin-top: 50px;
    width: 80vw;
    height: 50vh;
    position: absolute;
    margin-inline: auto;
    margin-inline: auto;
    left: 10px;
    right: 10px;
    top: 90px;
    border-radius: 10px;
    bottom:0;
    z-index: 50;

    .menuList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li{
        margin-right: 0rem;
        margin-bottom: 2rem;
    }
    }
   
    a{
        color: black;
        
    }
   
}

}

.theFuture {
    min-height: 100vh;
    padding-bottom: 50px;

    .heading {
        color: $VeryDarkGrayBlue;
        font-size: clamp(1.6rem, 2.5vw, 2.5rem);
        margin: 4rem 0;
        width: 100%;
        text-align: center;
    }

    .sections {
        display: flex;
        // justify-content: space-between;
        position: relative;

        .heading {
            font-size: 1.7rem;
            text-align: left;
            color: #233d55;
        }

        .heading {
            margin: 0;
        }

        .body {
            color: $VeryDarkGrayishBlue_body_copy;
            font-weight: 500;
            line-height: 1.7rem;
            margin-bottom: 0;
        }

        .img-wrap {
            position: relative;
            width: 100vw;

            img {
                width: 50rem;
                position: absolute;
                top: -150px;
                right: -28rem;
            }

            @media (max-width: 991px) {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    margin-bottom: 40px;
                    top: 0;
                    right: 0;
                }
            }
            @media (min-width: 1300px) {                

                img {
                    width: 65rem;
                    position: absolute;
                    top: -150px;
                    right: -28rem;
                }

                
            }

        }

        .desc {
            min-width: 200px;
            padding-top: 50px;

            p {
                padding-right: 5rem;
                color: #74757a;
                line-height: 25px;
                font-size: 14px;
            }

            .info {
                margin-bottom: 3rem;
            }

            @media (max-width: 991px) {
                width: 100%;

                p {
                    padding-right: 0;
                }
            }

            @media (min-width: 1300px) {
                max-width: 550px;
                 padding-top: 150px;
                 padding-left: 120px;
                 transform: scale(1.4);
            }
        }

        @media (max-width: 991px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;

            .heading {
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}

// Ads section start here
.adsContainer {
    background-color: $VeryDarkGrayBlue;
    text-align: center;
    color: white;
    position: relative;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 260px;



    .desc {
        padding: 0 40px 35px 40px;
    }

    .image {
        img {
            max-width: 100%;
            margin-top: -400px;
        }
    }

    @media screen and (min-width:850px) {
        flex-direction: row;
        padding: 30px 60px;
        max-height: 30vh;
        align-items: center;
        margin-top: 10px;
        background-size: 60%;

        .desc {
            padding: 0px;
            text-align: left;
            max-width: 450px;
            margin-left: 70px;
        }

        .image {
            img {
                max-width: 310px;
                margin-top: 27px;
            }
        }


        @media screen and (min-width:1280px) {
            padding: 0px 60px;
        }
    }
    @media screen and (min-width:1300px) {
        padding: 30px 20px;
        max-height: 30vh;

        .image {
            img {
                max-width: 460px;
                margin-top: 27px;
            }
        }
        .desc {
            transform:scale(1.3);
            margin-left: 210px;
            line-height: 1.5rem;
            max-width: 500px;
     }
        
    }
}




.tooling {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    overflow: hidden;

    .laptop {
        background-image: url(../images/illustration-laptop-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 270px;
        max-width: 800px;
        min-width: 280px;
        margin: 70px 0 40px 0;
        margin-inline: auto;

    }

    .desc {
        height: 600px;
        padding: 0 30px;

        .body {
            color: $VeryDarkGrayishBlue_body_copy;
            font-weight: 500;
            line-height: 1.7rem;
            margin-bottom: 0;

        }

        .heading {
            color: $VeryDarkGrayBlue;
            font-size: clamp(1.6rem, 2.5vw, 2.5rem);
            margin: 3rem 0;
            width: 100%;
            text-align: center;
        }

    }

    @media screen and (min-width:850px) {
        display: flex;
        flex-direction: row;
        padding: 30px 0;


        .laptop {
            background-image: url(../images/illustration-laptop-desktop.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 140%;
            min-height: 700px;
            max-width: 600px;
            margin-left: -120px;
            flex: 2;
            margin-top: 40px;

            @media screen and (min-width:1300px) {
                // margin-top: 90px;
                background-size: 120%;
                max-width: 880px;
                min-height: 95vh;
                margin-left: -220px;
                // border: 1px solid red;
                padding: 20px;
            }
        }

        .desc {
            display: flex;
            flex-direction: column;
            gap: 50px;
            text-align: left;
            justify-content: center;
            margin-top: 60px;
            flex: 1;
            padding: 0 130px;


            .body {
                max-width: 500px;
            }

            .container {
                padding: 0 1rem;
            }
            @media screen and (min-width:1300px) {
                transform: scale(1.2);
                margin-top: 200px;
                .body {
                    max-width: 500px;
                }
                margin-left: 190px;
            }
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100vw;
    gap: 60px;
    padding: 60px;
    background-color: $VeryDarkBlackBlue_footer_background;
    color:white;
    border-top-right-radius: 120px;

p{
   margin-bottom: 20px;
   font-size: 1.4rem;
   font-weight: bold;
}
    .navs{
        display: flex;
        flex-direction: column;       
        align-items: center;
        text-align: center;
        font-size: 1.8rem;
        // gap: 180px;
        //  gap: 20px;
         li{
            margin-bottom: 10px;
         }
        a{
            text-decoration: none;
            color:$GrayishBlue_footer_text;
        }
        ul{
            padding: 0;
        }
    }

    .logo {
        font-size: 3rem;
        font-weight: bold;
    }

    @media screen and (min-width:950px){
        flex-direction: row;
        align-items: flex-start;
        gap: 120px;
        
        
        .navs{
        flex-direction: row;
        align-items: flex-start;
        gap: 190px;
        text-align: left;
        font-size: 1rem;
        }
    }

    @media screen and (min-width:1300px){
        gap: 340px;

        .navs{
            gap: 290px;
            }
        }
        
    
}